<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
  <body>
    <h1>Welcome to the cart</h1>
    <% @total = 0 %>
    <table>
      <tr>
        <th>Movie</th>
        <th>Price</th>
        <th>Tax</th>
        <th>SubTotal</th>
        <th>Image</th>
      </tr>
      <% @movie.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.order_price %></td>
        <td>sfsf</td>
        <td><%= movie.order_price %></td>
        <td><%= image_tag movie.image %></td>
        <td><%= link_to "Remove Item", "#" %></td>
      </tr>
      <% @total += movie.order_price %>
      <% end %>
    </table>
    <p>Total : <%= @total%></p>
  </body>
</html>
