<h1> Category </h1>
<nav>
 <ul>
  <li> <%= link_to 'Home', root_path %></li>
  <li> <%= link_to 'About', about_page_about_path %></li>
  </ul>
</nav>    
 <% @movie1.each do |movie| %>
     <h2> <%= movie.name %> </h2>
     <p> <%=  movie.description %> </p>
     <p> <%= image_tag movie.image %></p>
     <p> Release Date: <%= movie.release_date %> </p>
     <p> Price : <%= movie.order_price %> </p>
   <% end %>
<p>Category:
<%= select_tag(:Category, '<option value="1">Action</option><option value="2">Suspense</option>'.html_safe) %>
</p>
		