<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
  <body>
    
    <h1> Movie Category </h1>
    <%= form_tag cat_search_path, method: 'get' do %>
        <%= text_field_tag :category_search %>
        <input hidden id="id" name= "cat_name"value= "<%=@category_name %>"/>
        <%= submit_tag "Search" %>
      <% end %>
      <% @category.each do |movie| %>
        <h2> <%= movie.name %> </h2>
        <p> <%=  movie.description %> </p>
        <p> <%= image_tag movie.image %></p>
        <p> Release Date: <%= movie.release_date %> </p>
        <p> Price : <%= movie.order_price %> </p>
      <% end %>
  </body>
</html>


